.search{
    display: flex;
    align-items: center;
}

.header{
    display: flex;
    align-content: stretch;
    justify-content: flex-end;
    height: 50px;
    background-color: antiquewhiteewhite;
    background-color: #32383e;
}

.header>div>a{
    color: white;
    background-color: #FF0000;
    padding: 10px;
    border-radius: 15px;
    line-height: 50px;
    text-decoration: none;
    margin: 0px 10px;
    font-weight: bolder;
}

.row{
    display: flex;
    justify-content: space-between;

}

.input_search{
    padding: 5px;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #c2bfbf;
    box-shadow: 1px 1px #e2dfdf;
}

.search>a{
    background-color: #FF0000;
    padding: 6px 15px;
    border-radius: 0px 10px 10px 0px;
    color: white;
    text-decoration: none;
}